# virtualenvs
.venv/

.vscode/
# python cache
__pycache__/
*.pyc

# models (keep big binaries out of git)
models/
*.npz
*.zip

# pipeline_star/generated artifacts (but track the folder itself)
pipeline_star/generated/*
!pipeline_star/generated/.gitkeep