# MongoDB connection string
# For local development, use:
MONGODB_URI=mongodb://localhost:27017

# For MongoDB Atlas or remote server, use:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
