# MongoDB connection string

# For MongoDB Atlas or remote server, use:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

# For local development, fallback in db.py :
